.menu {
  width: 17.5%;
  padding-top: 100px;

  img {
    border-radius: 50%;
  }

  .links {
    padding: 3rem 1rem 5rem;

    & > a,
    & > div {
      display: block;
      padding-bottom: 0.5rem;
      color: rgb(128, 128, 128);
      font-weight: 600;
    }
  }

  .icon-container {
    padding-left: 15px;

    svg {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 10px;
    }
  }

  a {
    color: rgb(128, 128, 128);
    text-decoration: none;

    &,
    svg {
      &:hover {
        color: black;
      }
    }
  }
}
